.form{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    margin: 0 auto;
    justify-content: space-around;
    
    margin-bottom: 30px;
    
}
input{
    padding: 10px;
    margin-left: 7px;
    width: 40%;
}
button{
    margin-top: 20px;
}
